<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="mycatPropertiesUtil" class="com.hayden.hap.common.utils.properties.MycatPropertiesUtil">
		<property name="mycatFlag">
			<value>${sys.mycat.flag}</value>
		</property>
	</bean>
	
	<bean id="moduleDataSrcPropertiesUtil" class="com.hayden.hap.common.utils.properties.ModuleDataSrcPropertiesUtil">
		<property name="defaultDataSource">
			<value>${default.dataSource}</value>
		</property>
	</bean>
	

</beans>
