<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.xa.DruidXADataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc_base_mycat.url}"/>
        <property name="username" value="${jdbc_base_mycat.username}"/>
        <property name="password" value="${jdbc_base_mycat.password}"/>
        <property name="driverClassName" value="${jdbc_base_mycat.driverClassName}" />
        <property name="initialSize" value="${jdbc_base_mycat.pool.initialSize}"/>
        <property name="maxActive" value="${jdbc_base_mycat.pool.maxActive}"/>
        <property name="minIdle" value="${jdbc_base_mycat.pool.minIdle}"/>

        <property name="filters" value="#{'${jdbc_base_mycat.dbType}'=='dm'?'stat,slf4j':'stat,slf4j,wall'}" />
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="60000" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="validationQuery" value="${jdbc_base_mycat.pool.validationQuery}" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />
        <property name="dbType" value="${jdbc_base_mycat.dbType}" />

        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true" />
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800" />
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true" />
    </bean>

</beans>