.idea/
.idea_modules/
.classpath
.project
.settings
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.orig
*.flattened-pom.xml
/out/
/target/
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.DS_Store
.mtj.tmp/
.mvn/timing.properties
application.pid
hs_err_pid*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
/client/node_modules/
/client/dist/
/client/.vite/