<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="hashFunction" class="com.hayden.hap.common.db.sharding.route.script.DefaultVORouteFunction"/>

	<bean id="shardingRouter"
		  class="com.hayden.hap.common.db.sharding.route.config.support.ShardingRouterXmlFactoryBean">
		<!-- functionsMap是在使用自定义路由规则函数的时候使用 -->
		<property name="routeScriptsMap">
			<map>
				<entry key="hash" value-ref="hashFunction"/>
			</map>
		</property>
		<property name="configLocations">
			<list>
				<value>classpath:/conf/common/sharding-rules.xml</value>
			</list>
		</property>
	</bean>

</beans>