<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- spring mvc config -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
				<ref bean="marshallingConverter" />
			</list>
		</property>
	</bean>
	
	<!-- freemark config -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="freemarkerSettings" ref="freemarkerConfiguration"/>
		<property name="templateLoaderPaths">
			<list>
				<value>/WEB-INF/ftl/</value>
				<value>/WEB-INF/jsp/</value>
			</list>
		</property>
	</bean>

	<!-- freemarker view -->
	<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="contentType" value="text/html; charset=UTF-8" />
		<property name="order" value="1" />
		<property name="viewNames" value="*.ftl"/> 
	</bean>

	<!-- jsp view -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="contentType" value="text/html" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="order" value="2" />
<!-- 		<property name="viewNames" value="*.jsp"/>  -->
		<property name="requestContextAttribute" value="rc"></property>
		<property name="viewNames">
			<array>
				<value>*.jsp</value>
				<value>*.html</value>
				<value>redirect:*</value>
			</array>
		</property>
	</bean>
		
	<mvc:resources mapping="/static/**" location="/static/" order="0" />
	<mvc:resources mapping="/static_ext/**" location="/static_ext/" order="0" />
	
	<!-- <mvc:resources location="/" mapping="/**/*.html" />
	<mvc:resources location="/" mapping="/**/*.js" />
	<mvc:resources location="/" mapping="/**/*.css" />
	<mvc:resources location="/" mapping="/**/*.png" />
	<mvc:resources location="/" mapping="/**/*.gif" /> -->
	<mvc:resources mapping="/favicon.ico" location="/" order="0"  />
	<mvc:resources mapping="/runqianReport4Applet.jar" location="/runqianReport4Applet.jar" order="0"/>
	<mvc:resources mapping="/dmGraphApplet.jar" location="/dmGraphApplet.jar" order="0"/>
	<mvc:resources mapping="/jre-6u45-windows-i586.exe" location="/jre-6u45-windows-i586.exe" order="0"/>
	
	<!-- 支持传统的MVC开发模型    freeMarker的配置  end-->
	
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
		<!-- 将Jackson2HttpMessageConverter的默认格式化输出设为true -->
		<property name="prettyPrint" value="true" />
		<property name="objectMapper" ref="voObjectMapper"></property>
	</bean>
	<bean id="voObjectMapper" class="com.hayden.hap.serial.VOObjectMapper" />

	<bean id="marshallingConverter"
		class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<constructor-arg ref="jaxbMarshaller" />
		<property name="supportedMediaTypes" value="application/xml" />
	</bean>

	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="packagesToScan">
			<list>
				<value>com.hayden.hap.common.*</value>
			</list>
		</property>
	</bean>

	<bean id="exceptionMessageAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
		<property name="messageConverters">
			<list>
				<!-- Support JSON -->
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>


	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager">
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<ref bean="jsonConverter"/>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="ignoreAcceptHeader" value="false" />
		<!-- true，开启扩展名支持，false关闭支持 -->
		<property name="favorPathExtension" value="true" />
		<!-- 用于开启 /userinfo/123?format=json的支持 -->
		<property name="favorParameter" value="false" />
		<!-- 在没有扩展名和参数时即: "/user/1" 时的默认展现形式 -->
		<property name="defaultContentType" value="text/html" />

		<!-- <property name="defaultContentType" value="application/json" /> -->
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
				
			</map>
		</property>

	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager" ref="contentNegotiationManager" />
		<property name="viewResolvers">
			<list>
				<ref bean="freeMarkerViewResolver"/>
				<ref bean="jspViewResolver" />
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<ref bean="jsonView" />
				<ref bean="xmlViewer" />				
			</list>
		</property>
	</bean>

	<bean name="jsonView"
		class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>

	<bean id="xmlViewer"
		class="org.springframework.web.servlet.view.xml.MarshallingView">
		<constructor-arg ref="jaxbMarshaller" />
		<property name="contentType" value="application/xml;charset=UTF-8" />
	</bean>

	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
	<mvc:default-servlet-handler />
	<mvc:interceptors>
	<mvc:interceptor>
		<mvc:mapping path="/**"/>
		<bean class="com.hayden.hap.common.login.LoginInterceptor"/>
	</mvc:interceptor>
	</mvc:interceptors>
</beans>
