<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">
	<display-name>Hap Web Application</display-name>
	<!-- Session 相关设置 -->
	<session-config>
		<session-timeout>30</session-timeout>
		<!-- Servlet3.0用于控制JSEESIONID传递方式（COOKIE or URL），tracking-mode为COOKIE确保URL中不会出现JSESSIONID add by wushuangyang 2016-06-23 16:57:00-->
		<tracking-mode>COOKIE</tracking-mode>
		<cookie-config>
			<http-only>true</http-only>
			<!-- 配置所有cookies只通过Https方式传输，暂时屏蔽 add by wushuangyang 2016-06-23 16:57:00-->
			<!-- <secure>true</secure> -->
		</cookie-config>
	</session-config>

 	<!-- welcome -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- The context params that read by ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring-conf/*/*.xml,
		</param-value>
	</context-param>

	<!-- This listener will load other application context file in addition 
		to springweb-servlet.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.hayden.hap.common.db.sharding.listener.ShardingListener</listener-class>
	</listener>

	<!-- Encoding UTF-8 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring MVC Servlet -->
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--在响应头中加入X-FRAME-OPTIONS为SAMEORIGIN，防止点击劫持攻击-->
	<filter>
		<filter-name>ClickjackFilter</filter-name>
		<filter-class>org.owasp.esapi.filters.ClickjackFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>mode</param-name>
			<param-value>SAMEORIGIN</param-value>
 		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
